<div class="container row">
  <div class="col-md-12">
    <h1>Cargar archivo</h1>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChanged($event)">
  </div>
  <div class="col-md-6">
    <input type="button" class="nav-link" class="btn btn-primary active"  (click)="onUpload()" value="Subir archivo">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
    <div *ngIf=message>{{message}}</div>
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
    <h1>Datos del cliente</h1>
  </div>
</div>
<div class="container row">
  <div class="col-md-12 widget-body no-padding" >
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
      <thead class="thead-dark">
        <tr>
          <th>Número identificacón</th>
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
            <td>{{cliente.nroIdentificacionDocumento}}</td>
            <td>{{cliente.primerNombre}}</td>
            <td>{{cliente.segundoNombre}}</td>
            <td>{{cliente.primerApellido}}</td>
            <td>{{cliente.segundoApellido}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>